@import "../variables";
.wrapper {
  min-height: 90vh;
  position: relative;
  display: flex;
}

.container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  // background: linear-gradient(to right, #fff, rgb(231, 217, 176));
  z-index: 1;
}

.content {
  position: relative;
  z-index: 3;
  left: 0;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  padding-right: 12px;
  right: 0;
  flex: 1;
}

.blockImg {
  display: flex;
  width: 50%;
  align-items: start;
  justify-content: flex-start;
  padding-right: 12px;
  border-radius: 12px;
}

.imgStyle {
  //   display: flex;
  display: flex;
  //   position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 12px;
  //   height: auto;
}

.header {
  padding: 12px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  //   background-color: aqua; //Del
}

.blockContent {
  position: relative;
  display: flex;
  align-self: start;
  padding: 12px;
  padding-top: 12px;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
  border: 5px solid #fff;
  background-color: #8faadc; //Del
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

  width: 50%;
  &_blockTitle {
    flex-direction: row;
    display: flex;
  }
}

.mainContent {
  gap: 12px;
  position: relative;
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  justify-content: space-between;
  //   background-color: blue; // Del
  height: 100%;
}

// TEXT
.title {
  text-shadow: 1px 1px 2px rgb(156, 143, 145);
  font-size: 40px;
  color: #1f1f1f;
  font-family: $font-Montserrat;
  font-weight: 700;
  line-height: 28px;
  word-wrap: break-word;
}

.textContentTitle {
  font-size: 26px;
  color: #1f1f1f;
  font-family: $font-Montserrat;
  font-weight: 700;
  line-height: 28px;
  word-wrap: break-word;
}

.textContentDiscript {
  font-size: 22px;
  color: #1f1f1f;
  font-family: $font-Montserrat;
  font-weight: 500;
  line-height: 28px;
  word-wrap: break-word;
}
